{% block content%}
<div id="kt_app_footer" class="app-footer d-flex flex-column flex-md-row align-items-center flex-center flex-md-stack py-2 py-lg-4">
    <!--begin::Copyright-->
    <div class="text-gray-900 order-2 order-md-1">
        <span class="text-muted fw-semibold me-1">2024&copy;</span>
        <a href="https://www.duoc.cl/" target="_blank" class="text-gray-800 text-hover-primary">Duoc UC</a>
    </div>
    <!--end::Copyright-->
    <!--begin::Menu-->
    <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
        <li class="menu-item">
            <a href="https://www.facebook.com/Alameda.DuocUC" target="_blank" class="menu-link px-2">Facebook</a>
        </li>
        <li class="menu-item">
            <a href="https://www.instagram.com/duoc_alameda/?hl=es" target="_blank" class="menu-link px-2">Instagram</a>
        </li>
        {% comment %} <li class="menu-item">
            <a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link px-2">Purchase</a>
        </li> {% endcomment %}
    </ul>
    <!--end::Menu-->
</div>
{% endblock content%}